version: "3.7"

services:
  docker-postgresql:
    image: postgres:11
    container_name: docker-postgresql
    environment:
      POSTGRES_USER: "pod"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "podpoint"
    ports: 
      - "5432:5432"

  database-postgresql:
    image: postgres:14
    container_name: database-postgresql
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgrespw"
      POSTGRES_DB: "postgres"
    ports:
      - "6000:6000"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql


  docker-etl:
    build:
      context: .
      dockerfile: ./etl.dockerfile
    container_name: docker-etl
    image: docker-etl 
    environment:
      DAGSTER_POSTGRES_HOSTNAME: "docker-postgresql"
      DAGSTER_POSTGRES_USER: "pod"
      DAGSTER_POSTGRES_PASSWORD: "password"
      DAGSTER_POSTGRES_DB: "podpoint"
      DAGSTER_CURRENT_IMAGE: "docker-etl"
      DATABASE_HOST: "host.docker.internal"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./pipeline:/opt/dagster/etl
#    links:
#      - database-postgresql


  docker-dagit:
    build:
      context: .
      dockerfile: ./dagster.dockerfile
    container_name: docker-dagit
    restart: on-failure
    entrypoint:
      - dagit
      - -h
      - "0.0.0.0"
      - -p
      - "3000"
      - -w
      - workspace.yaml
    expose:
      - "3000"
    ports:
      - "3000:3000"
    environment:
      DAGSTER_POSTGRES_HOSTNAME: "docker-postgresql"
      DAGSTER_POSTGRES_USER: "pod"
      DAGSTER_POSTGRES_PASSWORD: "password"
      DAGSTER_POSTGRES_DB: "podpoint"
      HOSTNAME_etl: "docker-etl"
      DAGSTER_NETWORK: "dagster_tf_code_default" # Variable needs to be written as container DNS name in ECS
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - docker-etl
      - docker-postgresql

  docker-daemon:
    build:
      context: .
      dockerfile: ./dagster.dockerfile
    container_name: docker-daemon
    restart: on-failure
    entrypoint:
      - dagster-daemon
      - run
    environment:
      DAGSTER_POSTGRES_HOSTNAME: "docker-postgresql"
      DAGSTER_POSTGRES_USER: "pod"
      DAGSTER_POSTGRES_PASSWORD: "password"
      DAGSTER_POSTGRES_DB: "podpoint"
      HOSTNAME_etl: "docker-etl"
      DAGSTER_NETWORK: "dagster_tf_code_default" # Variable needs to be written as container DNS name in ECS
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - docker-etl
      - docker-postgresql




